Bestätigung des Benutzerkontos

Hallo <%= username %>,
wir freuen uns, dass du dich bei ExamShare, der Plattform zum Teilen von Zusammenfassungen und Klausuren, registriert hast.

Um die Dienste von ExamShare benutzen zu können, muss das erstellte Benutzerkonto, welches mit der E-Mail-Adresse <%= email%> verknüpft wurde, bestätigt werden.
Benutze dazu den folgenden Link: <%= link %>

© 2019 ExamShare. <a href="https://examshare.twisted-it.de/impressum">Impressum</a>