<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

    <title>ExamShare</title>
    <meta name="description" content="Mobile Plattform zum Austausch bereits geschriebener Tests und Klausuren in der Schule.">
    <meta name="keywords" content="Android, App, Schule, Klausuren, Bildung">
    <meta name="robots" content="index,follow">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136850761-2"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-orange">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">ExamShare <sup>BETA</sup></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon border-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right ml-auto">
                <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/donate" target="_blank">Entwickler unterstützen</a></li>
                <li class="nav-item"><a class="nav-link" href="https://twitter.com/ExamShare" target="_blank">@ExamShare
                        bei Twitter</a></li>
            </ul>
        </div>
    </nav>

    <div class="container hero mt-e pb-5">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                <h1>Plattform zum Austausch bereits geschriebener Klausuren</h1>
                <p>ExamShare bietet die Möglichkeit zum Teilen von Übungsaufgaben und Klausuren, die bereits geschrieben
                    wurden und somit zur optimalen Vorbereitung auf zukünftige Klausuren genutzt werden können. Mithilfe
                    spezifischer Stichworte
                    können Klausuren eingeordnet und gefunden werden.<br></p>
               <a href="https://play.google.com/store/apps/details?id=de.twisted.examshare"><img class="img-fluid" src="/img/badge.png" alt="Im PlayStore ansehen"></a></li>
            </div>
            <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                <div class="phone">
                    <img src="/img/phone.png" class="device">
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-fluid text-white">
        <div class="row">
            <div class="col-md-6 text-md-left">&copy; ExamShare <script>document.write(new Date().getFullYear())</script></div>
            <div class="col-md-6 text-md-right">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/datenschutzerklaerung">Datenschutzerklärung</a></li>
                    <li class="list-inline-item"><a href="/impressum">Impressum</a></li>
                    <li class="list-inline-item"><a href="/agb">AGB</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="/js/analytics.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>