Deine neue E-Mail-Adresse

Hallo <%= username %>,

um die E-Mail-Adresse <%= email%> für die Dienste von ExamShare benutzen zu können, muss diese bestätigt werden.
Benutze dazu den folgenden Link: <%= link %>

© 2019 ExamShare. <a href="https://examshare.twisted-it.de/impressum">Impressum</a>