Dein Passwort zurücksetzen?

Hallo <%= username %>,

falls du das Passwort für das Konto, welches mit der E-Mail-Adresse <%= email%> verknüpft wurde, vergessen hast, kannst du dieses zurücksetzen lassen.
Benutze dazu den folgenden Link: <%= link %>

Wenn diese Anfrage nicht von dir stammt, solltest du diese E-Mail ignorieren.

© 2019 ExamShare. <a href="https://examshare.twisted-it.de/impressum">Impressum</a>