Deaktivierung des Benutzerkontos

Hallo <%= username %>,

wir bedauern sehr, dass du dich dazu entschieden hast, dein Benutzerkonto zu deaktivieren. Dieses wird nach Ablauf von 7 Tagen vollständig gelöscht,
sofern du dich zuvor nicht erneut einloggen solltest. 

Damit verbunden ist die Löschung deiner erstellen Beiträge in Form von Übungen oder Kommentaren sowie weiterer Nutzerdaten.

© 2019 ExamShare. <a href="https://examshare.twisted-it.de/impressum">Impressum</a>