<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AGB - ExamShare</title>
    <meta name="robots" content="noindex,nofollow">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-orange">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">ExamShare <sup>BETA</sup></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon border-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/donate" target="_blank">Entwickler unterstützen</a></li>
                <li class="nav-item"><a class="nav-link" href="https://twitter.com/ExamShare" target="_blank">@ExamShare
                        bei Twitter</a></li>
            </ul>
        </div>
    </nav>

    <div class="container hero text-white">
        <h1>Nutzungsbedingungen für ExamShare</h1>
        <br>
        <p><strong>§ 1 Geltungsbereich</strong></p>
        <p>(1) Die nachfolgenden Bedingungen gelten für die Nutzung von ExamShare - im folgenden "Unsere
            Dienste" genannt.&nbsp;Für die Nutzung unserer Dienste ist wichtig, dass Sie als Nutzer/Nutzerin die
            nachfolgenden Bedingungen akzeptieren. Die Registrierung und Benutzung unserer Dienste ist
            kostenlos.</p>
        <p>(2) Mit der Registrierung sind Sie mit den Nutzungsbedingungen einverstanden. Durch Ihr
            Einverständnis garantieren Sie uns, dass Sie keine Beiträge erstellen werden, die gegen die
            Nutzungsbedingung verstoßen.</p>
        <p>(3) Durch das Benutzen von ExamShare kommt kein Vertrag zwischen den Nutzern/Nutzerinnen und uns
            zustande.</p>
        <p><strong>§ 2 Pflichten als Nutzer/Nutzerinnen</strong></p>
        <p>(1) Einer Ihrer Pflichten als Nutzer/Nutzerin ist es, dass Sie keine Beiträge
            veröffentlichen, die gegen diese Regeln, gegen die guten Sitten oder sonst gegen geltendes deutsches
            Recht verstoßen.</p>
        <p><span>Folgende Punkte sind Ihnen nicht genehmigt:</span></p>
        <p>1. Inhalte zu veröffentlichen, die unwahr sind und deren Veröffentlichung einen Straftatbestand oder eine
            Ordnungswidrigkeit erfüllt,<br/>2. Versendung von Spam an andere
            Nutzer/Nutzerin,<br/>3. Verwendung von gesetzlich durch Urheber- und Markenrecht geschützte
            Inhalte ohne rechtmäßige Berechtigung,<br/>4. Handlungen, die
            wettbewerbswidrig sind,<br/>5. mehrfache Einstellung des selben Beitrags,<br/>6.
            eigene Werbung, folglich Schleichwerbung, zu betreiben und<br/>7. Inhalte zu veröffentlichen, die
            beleidigend, rassistisch, diskriminierend oder pornographische Elemente aufweisen gegenüber anderen
            Nutzern/Nutzerinnen und der Allgemeinheit.</p>
        <p>Ihre Pflicht als Nutzer/Nutzerin ist es, auf § 2 Abs. 1 Nr. 1-7 dieser Nutzungsbedingung, vor&nbsp;
            der Veröffentlichung Ihres Beitrages zu achten und zu überprüfen, ob Sie sich an diese Punkte
            gehalten haben.</p>
        <p>(2) Sollten Sie gegen § 2 Abs. 1 Nr. 1-7 dieser Nutzungsbedingung verstoßen, behalten wir
            uns das Recht vor, gegen Sie folgende Schritte vorzunehmen:</p>
        <p>1. Ihre eingestellten Beiträge zu löschen und diese abzuändern,<br>
           2. Verbot weiterhin Beiträge zu verfassen und<br>
           3. Sperrung des Zugangs als Nutzer/Nutzerin.</p>
        <p>(3) Haben Sie als Nutzer/Nutzerin nicht die Nutzungsbedingungen beachtet und sind hierdurch
            mögliche Rechtsverstöße entstanden, die durch Ihre eingestellten Inhalte entstanden sind
            (Pflichtverletzung), verpflichten Sie sich als Nutzer/Nutzerin, uns von jeglichen Ansprüchen, auch
            den Schadenersatzansprüchen, freizustellen und diesen die Kosten zu ersetzen.</p>
        <p>Zudem ist der Nutzer/die Nutzerin verpflichtet, uns bei Schadenersatzansprüchen hinsichtlich der Abwehr des
            durch ihn entstandenen Rechtsverstoßes (Pflichtverletzung s.o.), zu unterstützen und die Kosten einer
            angemessenen Rechtsverteidigung für uns zu tragen.</p>
        <p>(4) Durch Ihr Einverständnis garantieren Sie uns, dass Sie keine Beträge erstellen werden, die
            gegen die Nutzungsbedingung verstoßen. Entsprechendes gilt auch für das Setzen von externen Links.</p>
        <p><strong>§ 3 Übertragung von Nutzungsrechten</strong></p>
        <p>Sie, als Nutzer/Nutzerin haben die alleinige Verantwortung des Urheberrechts i.S.d.
            Urhebergesetzes bei Veröffentlichung von Beiträgen zu beachten. Als
            Nutzer/Nutzerin räumen Sie lediglich uns mit Veröffentlichung Ihres Beitrages das Recht
            ein, den Beitrag dauerhaft zum Abruf bereitzustellen. Ferner hat unser Team das Recht, Ihre
            Beiträge zu löschen, zu bearbeiten und innerhalb unseres Systems zu verschieben, um diese mit
            anderen Inhalten zu verknüpfen.</p>
        <p><strong>§ 4 Haftungsbeschränkung</strong></p>
        <p>(1) Wir übernimmen keinerlei Gewähr für die veröffentlichten und eingestellten Beiträge,
            externen Links und die daraus resultierenden Inhalte, insbesondere nicht für deren Richtigkeit,
            Vollständigkeit und Aktualität. Wir sind auch nicht verpflichtet, permanent die übermittelten und
            gespeicherten Beiträge der Nutzer/Nutzerinnen zu überwachen oder nach den Umständen zu erforschen, ob sie
            auf einen rechtswidrigen Inhalt hinweisen. Wir haften grundsätzlich nur im Falle einer vorsätzlichen oder
            grob fahrlässigen Pflichtverletzung.</p>
        <p>(2) Bei Werbeschaltungen übernehmen wir keine Haftung für den Inhalt und die Richtigkeit.
            Für den Inhalt der Werbeanzeigen ist der jeweilige Autor einzig und allein verantwortlich;
            gleiches gilt für den Inhalt der beworbenen Webseite. Bei Darstellung der Werbeanzeige auf
            unserer Webseite, sind wir nicht gleichzeitig mit dem rechtswidrigen Inhalt einverstanden. Daher
            liegt die Haftung ausschließlich bei dem Werbekunden.</p>
        <p>(3) Es wird nicht für einen ständigen unterbrechungsfreien Abruf der Dienste garantiert.
            Einer Haftung diesbezüglich wird hiermit ausdrücklich widersprochen. Auch bei großer
            Sorgfalt können Ausfallzeiten leider nicht ausgeschlossen werden.</p>
        <p><strong>§ 5 Änderungsvorbehalt</strong></p>
        <p>Wir haben jederzeit das Recht die Nutzungsbedingungen zu ändern. Die Änderung wird dann per Eintrag auf
            der Webseite oder per E-Mail veröffentlicht.</p>
        <p><strong>§ 6 Kündigung und Laufzeit der Mitgliedschaft bei unseren Diensten <br/></strong></p>
        <p>Die Laufzeit der Mitgliedschaft beginnt mit der Registrierung und mit dem Einverständnis unserer
            Nutzungsbedingungen und besteht auf eine unbestimmte Zeit. Die Mitgliedschaft kann jederzeit ohne Angabe von
            Gründen gekündigt werden.</p>
        <p><strong>§ 7 Salvatorische Klausel</strong></p>
        <p>Diese Nutzungsbedingungen sind als Teil unserer Dienste zu betrachten, von denen aus auf diese Seite
            verwiesen wird. Sind einzelne Formulierungen dieser Nutzungsbedingung nicht mehr ganz oder nicht mehr
            vollständig konform mit der geltenden Rechtslage, so ist davon auszugehen, dass die übrigen Regelungen der
            Nutzungsbedingungen bestehen bleiben.</p>
        <p>Diese <a href="http://www.jurarat.de/muster-nutzungsbedingungen">Nutzungsbedingungen</a> wurden
            freundlicherweise von www.jurarat.de zur Verfügung gestellt und für ExamShare angepasst.
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>
